In [7]:
import pandas as pd

# Load a DataFrame from a CSV file
df = pd.read_csv(r'C:\Users\Huawei\Desktop\PrediveAIModelForPakistanStockExchange\350PakistanStocksExchangeStocksData\abl(AlliedBankLtd).csv')  

# Display the first and last five rows of the DataFrame
print("Display the first and last five rows of the DataFrame\n")
print(df.head())  # display the first five rows
print(df.tail())  # display the last five rows
print("\n");

# Set a specific column as the index of the DataFrame
df.set_index('TIME', inplace=True)  

# Select a specific column and display its values
print("Select a specific column and display its values\n")
print(df['CLOSE'])  
print("\n");
# Select multiple columns and display the resulting DataFrame
print("Select multiple columns and display the resulting DataFrame\n")
print(df[['HIGH', 'LOW']])  
print("\n");
# Select a subset of rows using the .loc method
print("Select a subset of rows using the .loc method\n")
print(df.loc['9-Oct-20'])  #select a row
print(df.loc['9-Oct-20':'6-Oct-20'])  # select a range of rows
print("\n");
# Select a subset of rows and columns using the .iloc method
print("Select a subset of rows and columns using the .iloc method\n")
print(df.iloc[0])  # select the first row
print(df.iloc[0:3, 1:4])  # select a subset of rows and columns
print("\n");
# Filter rows based on a condition
filtered_df = df[df['VOLUME'] > 50000] 
print("Filter rows based on a condition\n")
print(filtered_df)
print("\n");
# Group the DataFrame by a specific column and calculate the mean of each group
grouped_mean = df.groupby('OPEN').mean() 
print("Group the DataFrame by a specific column and calculate the mean of each group\n")
print(grouped_mean)
print("\n");
# Group the DataFrame by multiple columns and calculate the sum of each group
grouped_sum = df.groupby(['OPEN', 'HIGH']).sum()  
print("Group the DataFrame by multiple columns and calculate the sum of each group\n")
print(grouped_sum)
print("\n");
# Use the agg method to apply multiple aggregation functions to grouped data
agg_functions = df.groupby('OPEN').agg({'HIGH': 'mean', 'LOW': 'sum'})  
print("Use the agg method to apply multiple aggregation functions to grouped data\n")
print(agg_functions)
print("\n");
# Calculate the size of each group
group_size = df.groupby('CLOSE').size() 
print("Calculate the size of each group\n")
print(group_size)
print("\n");
# Select rows based on multiple conditions
filtered_rows = df[(df['HIGH'] > 85) & (df['LOW'] < 83)] 
print("Select rows based on multiple conditions\n")
print(filtered_rows)
print("\n");
# Use the query method to filter rows
queried_df = df.query('OPEN > 84') 
print("Use the query method to filter rows\n")
print(queried_df)
print("\n");
# Use isin to filter rows based on a list of values
filtered_by_list = df[df['CLOSE'].isin(['83', '85', '86'])]  
print("Use isin to filter rows based on a list of values\n")
print(filtered_by_list)
print("\n");
# Select specific columns and rename them
renamed_df = df[['HIGH', 'LOW']].rename(columns={'HIGH': 'highPriceOfStock', 'LOW': 'lowPriceOfStock'})  
print("Select specific columns and rename them\n")
print(renamed_df)

Display the first and last five rows of the DataFrame

       TIME   OPEN   HIGH    LOW  CLOSE   VOLUME
0  9-Oct-20  87.45  87.45  86.00  86.00   3000.0
1  8-Oct-20  82.91  89.16  82.36  86.73  79000.0
2  7-Oct-20  82.60  84.35  82.50  82.94  37500.0
3  6-Oct-20  83.11  85.47  83.00  83.00  50000.0
4  5-Oct-20  86.99  92.44  81.04  83.83  63500.0
           TIME   OPEN   HIGH    LOW  CLOSE  VOLUME
2897   1-Jan-09  31.32  29.76  29.76  29.76  6200.0
2898  30-Dec-08  34.69  32.96  32.96  32.96  2000.0
2899  29-Dec-08  36.51  34.69  34.69  34.69  8500.0
2900  16-Dec-08  54.99  52.25  52.25  52.25   100.0
2901        NaN    NaN    NaN    NaN    NaN     NaN


Select a specific column and display its values

TIME
9-Oct-20     86.00
8-Oct-20     86.73
7-Oct-20     82.94
6-Oct-20     83.00
5-Oct-20     83.83
             ...
1-Jan-09     29.76
30-Dec-08    32.96
29-Dec-08    34.69
16-Dec-08    52.25
NaN            NaN
Name: CLOSE, Length: 2902, dtype: float64


Select multiple columns and display the resulting DataFrame

            HIGH    LOW
TIME
9-Oct-20   87.45  86.00
8-Oct-20   89.16  82.36
7-Oct-20   84.35  82.50
6-Oct-20   85.47  83.00
5-Oct-20   92.44  81.04
...          ...    ...
1-Jan-09   29.76  29.76
30-Dec-08  32.96  32.96
29-Dec-08  34.69  34.69
16-Dec-08  52.25  52.25
NaN          NaN    NaN

[2902 rows x 2 columns]


Select a subset of rows using the .loc method

OPEN        87.45
HIGH        87.45
LOW         86.00
CLOSE       86.00
VOLUME    3000.00
Name: 9-Oct-20, dtype: float64
           OPEN   HIGH    LOW  CLOSE   VOLUME
TIME
9-Oct-20  87.45  87.45  86.00  86.00   3000.0
8-Oct-20  82.91  89.16  82.36  86.73  79000.0
7-Oct-20  82.60  84.35  82.50  82.94  37500.0
6-Oct-20  83.11  85.47  83.00  83.00  50000.0


Select a subset of rows and columns using the .iloc method

OPEN        87.45
HIGH        87.45
LOW         86.00
CLOSE       86.00
VOLUME    3000.00
Name: 9-Oct-20, dtype: float64
           HIGH    LOW  CLOSE
TIME
9-Oct-20  87.45  86.00  86.00
8-Oct-20  89.16  82.36  86.73
7-Oct-20  84.35  82.50  82.94


Filter rows based on a condition

            OPEN   HIGH    LOW  CLOSE    VOLUME
TIME
8-Oct-20   82.91  89.16  82.36  86.73   79000.0
5-Oct-20   86.99  92.44  81.04  83.83   63500.0
1-Oct-20   83.46  90.59  83.46  88.56   58000.0
28-Sep-20  85.00  85.00  85.00  85.00   58000.0
25-Sep-20  85.00  86.00  85.00  85.85   52000.0
...          ...    ...    ...    ...       ...
12-Jan-09  32.72  34.35  31.61  33.00  157700.0
9-Jan-09   33.80  34.20  32.11  32.72  197700.0
6-Jan-09   32.80  34.35  33.25  33.80  175400.0
5-Jan-09   31.24  32.80  31.00  32.80  421400.0
2-Jan-09   29.76  31.24  28.28  31.24  750900.0

[1570 rows x 5 columns]


Group the DataFrame by a specific column and calculate the mean of each group

              HIGH         LOW       CLOSE         VOLUME
OPEN
0.00     96.154286   95.941429   95.917143   29571.428571
20.88    21.650000   19.850000   20.910000  157500.000000
20.91    21.950000   21.950000   21.950000   80100.000000
21.95    23.040000   23.040000   23.040000   26600.000000
21.97    21.150000   20.880000   20.880000  102400.000000
...            ...         ...         ...            ...
132.50  132.500000  130.000000  130.030000   46500.000000
132.55  132.000000  131.000000  131.270000    3900.000000
133.05  133.060000  130.500000  132.490000   17700.000000
133.50  135.833333  132.333333  134.746667  103466.666667
138.00  138.000000  136.050000  136.500000    2500.000000

[1711 rows x 4 columns]


Group the DataFrame by multiple columns and calculate the sum of each group

                  LOW   CLOSE    VOLUME
OPEN   HIGH
0.00   75.00    75.00   75.80  125000.0
       91.49    90.00   90.02   34500.0
       92.00    92.00   92.00    1000.0
       97.50    97.50   97.50    6000.0
       104.99  104.99  104.00   10000.0
...               ...     ...       ...
133.05 133.06  130.50  132.49   17700.0
133.50 133.50  131.50  131.88   73000.0
       136.00  132.00  134.95   18400.0
       138.00  133.50  137.41  219000.0
138.00 138.00  136.05  136.50    2500.0

[2643 rows x 3 columns]


Use the agg method to apply multiple aggregation functions to grouped data

              HIGH     LOW
OPEN
0.00     96.154286  671.59
20.88    21.650000   19.85
20.91    21.950000   21.95
21.95    23.040000   23.04
21.97    21.150000   20.88
...            ...     ...
132.50  132.500000  130.00
132.55  132.000000  131.00
133.05  133.060000  130.50
133.50  135.833333  397.00
138.00  138.000000  136.05

[1711 rows x 2 columns]


Calculate the size of each group

CLOSE
20.88     1
20.91     1
21.95     1
21.97     1
23.04     1
         ..
132.76    1
134.00    1
134.95    1
136.50    1
137.41    1
Length: 2108, dtype: int64


Select rows based on multiple conditions

            OPEN   HIGH    LOW  CLOSE    VOLUME
TIME
8-Oct-20   82.91  89.16  82.36  86.73   79000.0
5-Oct-20   86.99  92.44  81.04  83.83   63500.0
17-Sep-20  86.70  88.00  78.92  83.89   79500.0
6-Aug-20   88.49  88.50  81.00  83.96  137000.0
30-Jul-20  85.49  85.49  82.51  83.03   32000.0
29-Jul-20  82.80  85.50  82.50  83.40  215500.0
28-Jul-20  80.40  85.50  79.70  84.13  199000.0
17-Apr-20  83.00  85.69  80.25  81.00  758500.0
16-Apr-20  83.00  88.44  82.50  85.69   37500.0
13-Apr-20  85.00  86.00  82.53  83.62   88500.0
10-Apr-20  82.65  87.82  82.65  84.35  386000.0
7-Apr-20   80.01  86.40  80.00  82.65  179500.0
3-Apr-20   85.00  85.90  82.70  82.79   58500.0
13-Mar-20  82.50  87.90  82.50  87.72   14500.0
12-Mar-20  86.00  86.50  82.70  84.01   18500.0
9-Mar-20   84.15  88.50  82.40  88.02   95500.0
15-Jun-16  83.07  86.49  82.60  84.96  117500.0


Use the query method to filter rows

            OPEN   HIGH    LOW  CLOSE    VOLUME
TIME
9-Oct-20   87.45  87.45  86.00  86.00    3000.0
5-Oct-20   86.99  92.44  81.04  83.83   63500.0
2-Oct-20   87.01  87.50  86.00  86.00    8000.0
30-Sep-20  85.00  85.00  84.25  84.27    6500.0
29-Sep-20  84.03  84.95  84.03  84.85    7000.0
...          ...    ...    ...    ...       ...
1-Nov-13   84.98  89.20  84.50  85.18  512000.0
26-Sep-13  84.26  82.95  81.99  82.25   38500.0
25-Sep-13  85.25  85.48  84.00  84.26   68000.0
24-Sep-13  86.03  86.50  84.45  85.25   71500.0
23-Sep-13  85.11  87.00  83.51  86.03   35500.0

[1535 rows x 5 columns]


Use isin to filter rows based on a list of values

Empty DataFrame
Columns: [OPEN, HIGH, LOW, CLOSE, VOLUME]
Index: []


Select specific columns and rename them

           highPriceOfStock  lowPriceOfStock
TIME
9-Oct-20              87.45            86.00
8-Oct-20              89.16            82.36
7-Oct-20              84.35            82.50
6-Oct-20              85.47            83.00
5-Oct-20              92.44            81.04
...                     ...              ...
1-Jan-09              29.76            29.76
30-Dec-08             32.96            32.96
29-Dec-08             34.69            34.69
16-Dec-08             52.25            52.25
NaN                     NaN              NaN

[2902 rows x 2 columns]