In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures

# Read CSV files into DataFrames
df = pd.read_csv(r'C:\Users\Huawei\Desktop\PrediveAIModelForPakistanStockExchange\350PakistanStocksExchangeStocksData\abl(AlliedBankLtd).csv')
df1 = pd.read_csv(r'C:\Users\Huawei\Desktop\PrediveAIModelForPakistanStockExchange\350PakistanStocksExchangeStocksData\akbl(AskariBankLtd).csv')

# Display the first few rows of the DataFrame
print("Display the first few rows of the DataFrame\n")
print("Initial DataFrame:\n", df.head())

# Identify missing values
print("Identify missing values\n")
print("Missing values:\n", df.isnull())

# Drop rows with any missing values
print("Drop rows with any missing values\n")
df_dropped_rows = df.dropna()
print("DataFrame after dropping rows with any missing values:\n", df_dropped_rows)

# Drop columns with any missing values
print("Drop columns with any missing values\n")
df_dropped_columns = df.dropna(axis=1)
print("DataFrame after dropping columns with any missing values:\n", df_dropped_columns)

# Fill missing values with a specific value (e.g., 0)
print("Fill missing values with a specific value\n")
df_filled = df.fillna(0)
print("DataFrame after filling missing values with 0:\n", df_filled)

# Fill missing values using forward fill method
print("Fill missing values using forward fill method\n")
df_ffill = df.ffill()
print("DataFrame after forward fill:\n", df_ffill)

# Fill missing values using backward fill method
print("Fill missing values using backward fill method\n")
df_bfill = df.bfill()
print("DataFrame after backward fill:\n", df_bfill)

# Interpolate missing values
print("Interpolate missing values\n")
df = df.infer_objects(copy=False)
df_interpolated = df.interpolate()
print("DataFrame after interpolation:\n", df_interpolated)

# Convert a column to a different data type
if 'CLOSE' in df.columns:
    print("Convert a column to a different data type\n")
    df['CLOSE'] = df['CLOSE'].astype('int32', errors='ignore')
    print("DataFrame after converting column 'CLOSE' to int:\n", df)
else:
    print("Column 'CLOSE' does not exist in the DataFrame")

# Apply a function to transform the values of a column
if 'LOWER_CASE' in df.columns:
    print("Apply a function to transform the values of a column\n")
    df['LOWER_CASE'] = df['LOWER_CASE'].apply(lambda x: x.upper() if isinstance(x, str) else x)
    print("DataFrame after transforming column 'LOWER_CASE' to uppercase:\n", df)
else:
    print("Column 'LOWER_CASE' does not exist in the DataFrame")

# Normalize a column using Min-Max scaling
if 'OPEN' in df.columns:
    print("Normalize a column using Min-Max scaling\n")
    df['OPEN_min_max'] = (df['OPEN'] - df['OPEN'].min()) / (df['OPEN'].max() - df['OPEN'].min())
    print("DataFrame after Min-Max scaling of column 'OPEN':\n", df)
else:
    print("Column 'OPEN' does not exist in the DataFrame")

# Standardize a column (z-score normalization)
if 'VOLUME' in df.columns:
    print("Standardize a column (z-score normalization)\n")
    df['VOLUME_z_score'] = (df['VOLUME'] - df['VOLUME'].mean()) / df['VOLUME'].std()
    print("DataFrame after z-score normalization of column 'VOLUME':\n", df)
else:
    print("Column 'VOLUME' does not exist in the DataFrame")

# Identify duplicate rows
print("Identify duplicate rows\n")
print("Duplicate rows:\n", df.duplicated())

# Drop duplicate rows
print("Drop duplicate rows\n")
df_no_duplicates = df.drop_duplicates()
print("DataFrame after dropping duplicate rows:\n", df_no_duplicates)

# Drop duplicate rows based on specific columns
if {'HIGH', 'LOW'}.issubset(df.columns):
    print("Drop duplicate rows based on specific columns\n")
    df_no_duplicates_specific = df.drop_duplicates(subset=['HIGH', 'LOW'])
    print("DataFrame after dropping duplicate rows based on columns 'HIGH' and 'LOW':\n", df_no_duplicates_specific)
else:
    print("Columns 'HIGH' and/or 'LOW' do not exist in the DataFrame")

# Convert all string values in a column to lowercase
if 'UPPER_CASE' in df.columns:
    print("Convert all string values in a column to lowercase\n")
    df['UPPER_CASE'] = df['UPPER_CASE'].str.lower()
    print("DataFrame after converting column 'UPPER_CASE' to lowercase:\n", df)
else:
    print("Column 'UPPER_CASE' does not exist in the DataFrame")

# Remove leading and trailing spaces from string values in a column
if 'SPACES' in df.columns:
    print("Remove leading and trailing spaces from string values in a column\n")
    df['SPACES'] = df['SPACES'].str.strip()
    print("DataFrame after removing leading and trailing spaces in column 'SPACES':\n", df)
else:
    print("Column 'SPACES' does not exist in the DataFrame")

# Replace a specific substring in a column with another substring
if 'SPACES' in df.columns:
    print("Replace a specific substring in a column with another substring\n")
    df['SPACES'] = df['SPACES'].str.replace('SAMPLE', 'DATASET')
    print("DataFrame after replacing 'apple' with 'fruit' in column 'SPACES':\n", df)
else:
    print("Column 'SPACES' does not exist in the DataFrame")

# Extract a substring from each value in a column
if 'SPACES' in df.columns:
    print("Extract a substring from each value in a column\n")
    df['SPACES_substring'] = df['SPACES'].str[:3]
    print("DataFrame after extracting substring from column 'SPACES':\n", df)
else:
    print("Column 'SPACES' does not exist in the DataFrame")

# Convert a column to datetime format
if 'TIME' in df.columns:
    print("Convert a column to datetime format\n")
    df['TIME'] = pd.to_datetime(df['TIME'], format='%d-%b-%y', errors='coerce')
    print("DataFrame after converting column 'TIME' to datetime:\n", df)
else:
    print("Column 'TIME' does not exist in the DataFrame")

# Extract year, month, and day from a datetime column
if 'TIME' in df.columns:
    print("Extract year, month, and day from a datetime column\n")
    df['TIME_year'] = df['TIME'].dt.year
    df['TIME_month'] = df['TIME'].dt.month
    df['TIME_day'] = df['TIME'].dt.day
    print("DataFrame after extracting year, month, and day from column 'TIME':\n", df)
else:
    print("Column 'TIME' does not exist in the DataFrame")

# Filter rows based on a date range
if 'TIME' in df.columns:
    print("Filter rows based on a date range\n")
    df_filtered_date = df[(df['TIME'] > '6-Oct-2020') & (df['TIME'] < '9-Oct-2020')]
    print("DataFrame after filtering rows based on date range:\n", df_filtered_date)
else:
    print("Column 'TIME' does not exist in the DataFrame")

# Convert a categorical column to numerical using one-hot encoding
if 'LOWER_CASE' in df.columns:
    print("Convert a categorical column to numerical using one-hot encoding\n")
    df_one_hot = pd.get_dummies(df, columns=['LOWER_CASE'])
    print("DataFrame after one-hot encoding column 'LOWER_CASE':\n", df_one_hot)
else:
    print("Column 'LOWER_CASE' does not exist in the DataFrame")

# Convert a categorical column to numerical using label encoding
if 'LOWER_CASE' in df.columns:
    print("Convert a categorical column to numerical using label encoding\n")
    df['LOWER_CASE_label'] = df['LOWER_CASE'].astype('category').cat.codes
    print("DataFrame after label encoding column 'LOWER_CASE':\n", df)
else:
    print("Column 'LOWER_CASE' does not exist in the DataFrame")

# Group values in a categorical column and create a new column with grouped categories
if 'LOWER_CASE' in df.columns:
    print("Group values in a categorical column and create a new column with grouped categories\n")
    df['LOWER_CASE_grouped'] = df['LOWER_CASE'].replace({'cat': 'pet', 'dog': 'pet'})
    print("DataFrame after grouping categories in column 'LOWER_CASE':\n", df)
else:
    print("Column 'LOWER_CASE' does not exist in the DataFrame")

# Merge two DataFrames based on a common column
df['CLOSE'] = df['CLOSE'].astype(float)  # Convert to float if it's integer in df
df1['CLOSE'] = df1['CLOSE'].astype(float)  # Convert to float if it's integer in df1

# Merge DataFrames based on 'CLOSE' column
df_merge = pd.merge(df, df1, on='CLOSE', suffixes=('_left', '_right'))

# Print the merged DataFrame
print("Merged DataFrame:\n", df_merge)

# Concatenate two DataFrames vertically
print("Concatenate two DataFrames vertically\n")
df_concat_vertical = pd.concat([df, df1], axis=0)
print("DataFrame after vertical concatenation:\n", df_concat_vertical)

# Concatenate two DataFrames horizontally
print("Concatenate two DataFrames horizontally\n")
df_concat_horizontal = pd.concat([df, df1], axis=1)
print("DataFrame after horizontal concatenation:\n", df_concat_horizontal)

# Create a new column based on existing columns
print("Create a new column based on existing columns\n")
df['HIGH_plus_LOW'] = df['HIGH'] + df['LOW']
print("DataFrame after creating a new column 'HIGH_plus_LOW':\n", df)

# Discretize a continuous column into bins
print("Discretize a continuous column into bins\n")
df['CLOSE_binned'] = pd.cut(df['CLOSE'], bins=3, labels=['Low', 'Medium', 'High'])
print("DataFrame after discretizing column 'CLOSE' into bins:\n", df)

# Create polynomial features from existing numerical columns
poly = PolynomialFeatures(degree=2, include_bias=False)

# Create polynomial features from columns 'HIGH' and 'LOW'
poly_features = poly.fit_transform(df[['HIGH', 'LOW']].dropna())

# Get feature names based on polynomial transformation
poly_feature_names = poly.get_feature_names_out(['HIGH', 'LOW'])

# Create DataFrame with polynomial features and assigned feature names
poly_df = pd.DataFrame(poly_features, columns=poly_feature_names)

print("DataFrame with polynomial features:\n", poly_df)

Display the first few rows of the DataFrame

Initial DataFrame:
        TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0  9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1  8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET
2  7-Oct-20  82.60  84.35  82.50  82.94   37500     STOCKS
3  6-Oct-20  83.11  85.47  83.00  83.00   50000   CHECKING
4  5-Oct-20  86.99  92.44  81.04  83.83   63500       TEST

                             SPACES LOWER_CASE         POLYNOMIAL
0  SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                      ST O   C K S      stock                NaN
3                      CHE CK I N G  checkings                NaN
4                           T E S T       test                NaN
Identify missing values

Missing values:
        TIME   OPEN   HIGH    LOW  CLOSE  VOLUME  UPPER_CASE  SPACES  \
0     False  False  False  False  False   False       False   False
1     False  False  False  False  False   False       False   False
2     False  False  False  False  False   False       False   False
3     False  False  False  False  False   False       False   False
4     False  False  False  False  False   False       False   False
...     ...    ...    ...    ...    ...     ...         ...     ...
2896  False  False  False  False  False   False        True    True
2897  False  False  False  False  False   False        True    True
2898  False  False  False  False  False   False        True    True
2899  False  False  False  False  False   False        True    True
2900  False  False  False  False  False   False        True    True

      LOWER_CASE  POLYNOMIAL
0          False       False
1          False       False
2          False        True
3          False        True
4          False        True
...          ...         ...
2896        True        True
2897        True        True
2898        True        True
2899        True        True
2900        True        True

[2901 rows x 10 columns]
Drop rows with any missing values

DataFrame after dropping rows with any missing values:
        TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0  9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1  8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET

                             SPACES LOWER_CASE         POLYNOMIAL
0  SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                D     A T  A  SE T   datasets    LOW': [4, 5, 6]
Drop columns with any missing values

DataFrame after dropping columns with any missing values:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME
0      9-Oct-20  87.45  87.45  86.00  86.00    3000
1      8-Oct-20  82.91  89.16  82.36  86.73   79000
2      7-Oct-20  82.60  84.35  82.50  82.94   37500
3      6-Oct-20  83.11  85.47  83.00  83.00   50000
4      5-Oct-20  86.99  92.44  81.04  83.83   63500
...         ...    ...    ...    ...    ...     ...
2896   2-Jan-09  29.76  31.24  28.28  31.24  750900
2897   1-Jan-09  31.32  29.76  29.76  29.76    6200
2898  30-Dec-08  34.69  32.96  32.96  32.96    2000
2899  29-Dec-08  36.51  34.69  34.69  34.69    8500
2900  16-Dec-08  54.99  52.25  52.25  52.25     100

[2901 rows x 6 columns]
Fill missing values with a specific value

DataFrame after filling missing values with 0:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50  82.94   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00  83.00   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04  83.83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28  31.24  750900          0
2897   1-Jan-09  31.32  29.76  29.76  29.76    6200          0
2898  30-Dec-08  34.69  32.96  32.96  32.96    2000          0
2899  29-Dec-08  36.51  34.69  34.69  34.69    8500          0
2900  16-Dec-08  54.99  52.25  52.25  52.25     100          0

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                         ST O   C K S      stock                  0
3                         CHE CK I N G  checkings                  0
4                              T E S T       test                  0
...                                ...        ...                ...
2896                                 0          0                  0
2897                                 0          0                  0
2898                                 0          0                  0
2899                                 0          0                  0
2900                                 0          0                  0

[2901 rows x 10 columns]
Fill missing values using forward fill method

DataFrame after forward fill:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50  82.94   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00  83.00   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04  83.83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28  31.24  750900         OK
2897   1-Jan-09  31.32  29.76  29.76  29.76    6200         OK
2898  30-Dec-08  34.69  32.96  32.96  32.96    2000         OK
2899  29-Dec-08  36.51  34.69  34.69  34.69    8500         OK
2900  16-Dec-08  54.99  52.25  52.25  52.25     100         OK

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                         ST O   C K S      stock    LOW': [4, 5, 6]
3                         CHE CK I N G  checkings    LOW': [4, 5, 6]
4                              T E S T       test    LOW': [4, 5, 6]
...                                ...        ...                ...
2896                          O      K         ok    LOW': [4, 5, 6]
2897                          O      K         ok    LOW': [4, 5, 6]
2898                          O      K         ok    LOW': [4, 5, 6]
2899                          O      K         ok    LOW': [4, 5, 6]
2900                          O      K         ok    LOW': [4, 5, 6]

[2901 rows x 10 columns]
Fill missing values using backward fill method

DataFrame after backward fill:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50  82.94   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00  83.00   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04  83.83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28  31.24  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76  29.76    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96  32.96    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69  34.69    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25  52.25     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                         ST O   C K S      stock                NaN
3                         CHE CK I N G  checkings                NaN
4                              T E S T       test                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

[2901 rows x 10 columns]
Interpolate missing values

DataFrame after interpolation:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00  86.00    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36  86.73   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50  82.94   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00  83.00   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04  83.83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28  31.24  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76  29.76    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96  32.96    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69  34.69    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25  52.25     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                         ST O   C K S      stock                NaN
3                         CHE CK I N G  checkings                NaN
4                              T E S T       test                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

[2901 rows x 10 columns]
Convert a column to a different data type

DataFrame after converting column 'CLOSE' to int:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    samples  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   datasets    LOW': [4, 5, 6]
2                         ST O   C K S      stock                NaN
3                         CHE CK I N G  checkings                NaN
4                              T E S T       test                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

[2901 rows x 10 columns]
Apply a function to transform the values of a column

DataFrame after transforming column 'LOWER_CASE' to uppercase:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

[2901 rows x 10 columns]
Normalize a column using Min-Max scaling

C:\Users\Huawei\AppData\Local\Temp\ipykernel_15320\561184882.py:45: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

DataFrame after Min-Max scaling of column 'OPEN':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max
0         0.633696
1         0.600797
2         0.598551
3         0.602246
4         0.630362
...            ...
2896      0.215652
2897      0.226957
2898      0.251377
2899      0.264565
2900      0.398478

[2901 rows x 11 columns]
Standardize a column (z-score normalization)

DataFrame after z-score normalization of column 'VOLUME':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2901 rows x 12 columns]
Identify duplicate rows

Duplicate rows:
 0       False
1       False
2       False
3       False
4       False
        ...
2896    False
2897    False
2898    False
2899    False
2900    False
Length: 2901, dtype: bool
Drop duplicate rows

DataFrame after dropping duplicate rows:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2901 rows x 12 columns]
Drop duplicate rows based on specific columns

DataFrame after dropping duplicate rows based on columns 'HIGH' and 'LOW':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     SAMPLE
1      8-Oct-20  82.91  89.16  82.36     86   79000    DATASET
2      7-Oct-20  82.60  84.35  82.50     82   37500     STOCKS
3      6-Oct-20  83.11  85.47  83.00     83   50000   CHECKING
4      5-Oct-20  86.99  92.44  81.04     83   63500       TEST
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2690 rows x 12 columns]
Convert all string values in a column to lowercase

DataFrame after converting column 'UPPER_CASE' to lowercase:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     sample
1      8-Oct-20  82.91  89.16  82.36     86   79000    dataset
2      7-Oct-20  82.60  84.35  82.50     82   37500     stocks
3      6-Oct-20  83.11  85.47  83.00     83   50000   checking
4      5-Oct-20  86.99  92.44  81.04     83   63500       test
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2901 rows x 12 columns]
Remove leading and trailing spaces from string values in a column

DataFrame after removing leading and trailing spaces in column 'SPACES':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     sample
1      8-Oct-20  82.91  89.16  82.36     86   79000    dataset
2      7-Oct-20  82.60  84.35  82.50     82   37500     stocks
3      6-Oct-20  83.11  85.47  83.00     83   50000   checking
4      5-Oct-20  86.99  92.44  81.04     83   63500       test
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                SPACES LOWER_CASE         POLYNOMIAL  \
0     SAMPLE DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                   D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                         ST O   C K S      STOCK                NaN
3                         CHE CK I N G  CHECKINGS                NaN
4                              T E S T       TEST                NaN
...                                ...        ...                ...
2896                               NaN        NaN                NaN
2897                               NaN        NaN                NaN
2898                               NaN        NaN                NaN
2899                               NaN        NaN                NaN
2900                               NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2901 rows x 12 columns]
Replace a specific substring in a column with another substring

DataFrame after replacing 'apple' with 'fruit' in column 'SPACES':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     sample
1      8-Oct-20  82.91  89.16  82.36     86   79000    dataset
2      7-Oct-20  82.60  84.35  82.50     82   37500     stocks
3      6-Oct-20  83.11  85.47  83.00     83   50000   checking
4      5-Oct-20  86.99  92.44  81.04     83   63500       test
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                 SPACES LOWER_CASE         POLYNOMIAL  \
0     DATASET DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                    D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                          ST O   C K S      STOCK                NaN
3                          CHE CK I N G  CHECKINGS                NaN
4                               T E S T       TEST                NaN
...                                 ...        ...                ...
2896                                NaN        NaN                NaN
2897                                NaN        NaN                NaN
2898                                NaN        NaN                NaN
2899                                NaN        NaN                NaN
2900                                NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score
0         0.633696       -0.500668
1         0.600797       -0.293001
2         0.598551       -0.406398
3         0.602246       -0.372243
4         0.630362       -0.335354
...            ...             ...
2896      0.215652        1.542942
2897      0.226957       -0.491924
2898      0.251377       -0.503401
2899      0.264565       -0.485640
2900      0.398478       -0.508593

[2901 rows x 12 columns]
Extract a substring from each value in a column

DataFrame after extracting substring from column 'SPACES':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0      9-Oct-20  87.45  87.45  86.00     86    3000     sample
1      8-Oct-20  82.91  89.16  82.36     86   79000    dataset
2      7-Oct-20  82.60  84.35  82.50     82   37500     stocks
3      6-Oct-20  83.11  85.47  83.00     83   50000   checking
4      5-Oct-20  86.99  92.44  81.04     83   63500       test
...         ...    ...    ...    ...    ...     ...        ...
2896   2-Jan-09  29.76  31.24  28.28     31  750900        NaN
2897   1-Jan-09  31.32  29.76  29.76     29    6200        NaN
2898  30-Dec-08  34.69  32.96  32.96     32    2000        NaN
2899  29-Dec-08  36.51  34.69  34.69     34    8500        NaN
2900  16-Dec-08  54.99  52.25  52.25     52     100        NaN

                                 SPACES LOWER_CASE         POLYNOMIAL  \
0     DATASET DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                    D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                          ST O   C K S      STOCK                NaN
3                          CHE CK I N G  CHECKINGS                NaN
4                               T E S T       TEST                NaN
...                                 ...        ...                ...
2896                                NaN        NaN                NaN
2897                                NaN        NaN                NaN
2898                                NaN        NaN                NaN
2899                                NaN        NaN                NaN
2900                                NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score SPACES_substring
0         0.633696       -0.500668              DAT
1         0.600797       -0.293001              D
2         0.598551       -0.406398              ST
3         0.602246       -0.372243              CHE
4         0.630362       -0.335354              T E
...            ...             ...              ...
2896      0.215652        1.542942              NaN
2897      0.226957       -0.491924              NaN
2898      0.251377       -0.503401              NaN
2899      0.264565       -0.485640              NaN
2900      0.398478       -0.508593              NaN

[2901 rows x 13 columns]
Convert a column to datetime format

DataFrame after converting column 'TIME' to datetime:
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0    2020-10-09  87.45  87.45  86.00     86    3000     sample
1    2020-10-08  82.91  89.16  82.36     86   79000    dataset
2    2020-10-07  82.60  84.35  82.50     82   37500     stocks
3    2020-10-06  83.11  85.47  83.00     83   50000   checking
4    2020-10-05  86.99  92.44  81.04     83   63500       test
...         ...    ...    ...    ...    ...     ...        ...
2896 2009-01-02  29.76  31.24  28.28     31  750900        NaN
2897 2009-01-01  31.32  29.76  29.76     29    6200        NaN
2898 2008-12-30  34.69  32.96  32.96     32    2000        NaN
2899 2008-12-29  36.51  34.69  34.69     34    8500        NaN
2900 2008-12-16  54.99  52.25  52.25     52     100        NaN

                                 SPACES LOWER_CASE         POLYNOMIAL  \
0     DATASET DATASET For       T  A SK    SAMPLES  HIGH': [1, 2, 3],
1                    D     A T  A  SE T   DATASETS    LOW': [4, 5, 6]
2                          ST O   C K S      STOCK                NaN
3                          CHE CK I N G  CHECKINGS                NaN
4                               T E S T       TEST                NaN
...                                 ...        ...                ...
2896                                NaN        NaN                NaN
2897                                NaN        NaN                NaN
2898                                NaN        NaN                NaN
2899                                NaN        NaN                NaN
2900                                NaN        NaN                NaN

      OPEN_min_max  VOLUME_z_score SPACES_substring
0         0.633696       -0.500668              DAT
1         0.600797       -0.293001              D
2         0.598551       -0.406398              ST
3         0.602246       -0.372243              CHE
4         0.630362       -0.335354              T E
...            ...             ...              ...
2896      0.215652        1.542942              NaN
2897      0.226957       -0.491924              NaN
2898      0.251377       -0.503401              NaN
2899      0.264565       -0.485640              NaN
2900      0.398478       -0.508593              NaN

[2901 rows x 13 columns]
Extract year, month, and day from a datetime column

DataFrame after extracting year, month, and day from column 'TIME':
            TIME   OPEN   HIGH    LOW  CLOSE  VOLUME UPPER_CASE  \
0    2020-10-09  87.45  87.45  86.00     86    3000     sample